:root {
  --bodyColor: hsla(303, 100%, 50%, 0.637);
  --pColor: rgb(241, 250, 249);
  --backgroundDiv: #0c7deee0;
  --aColor: blue;
  --mainDiv: #a6ff00;
  --hColor: #00ff2a;
}

*,
*::after,
::before {
  box-sizing: border-box;
}

body {
  background: var(--bodyColor);
  margin: 0;
}

.main_area {
  width: 90%;
  background: var(--aColor);
  color: whitesmoke;
  padding: 1px;
  margin: 20px;
  border: 4px solid lime;
  border-radius: 10px;
  text-align: center;
}

.main-extra-extra4 {
  box-sizing: border-box;
  height: 300px;
  background: var(--pColor);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main-extra-extra4 .child {
  box-sizing: border-box;
  flex-basis: 5%;
  width: 110px;
  height: 50px;
  border: 2px solid lime;
  border-radius: 10px;
  background: var(--aColor);
}

.main_area h2 {
  background: var(--mainDiv);
  padding: 10px;
  color: var(--hColor);
  display: inline-block;
}
