*,
*::after,
::before {
  box-sizing: border-box;
}

body {
  background: hotpink;
}

.main {
  box-sizing: border-box;
  margin: 40px;
  border: 4px solid lime;
  border-radius: 10px;
  background: rgb(115, 9, 236);
  height: 400px;
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main .child {
  box-sizing: border-box;
  flex-basis: 28%;
  height: 50px;
  border: 2px solid lime;
  border-radius: 10px;
  background: hsl(59, 76%, 53%);
}
